@import url('https://fonts.googleapis.com/css?family=Advent+Pro');

body{
    font-family: sans-serif;
    font-size: .9em;
    padding: 0em 1em;
}

main {
    margin-top: 100px;
}

h1 img {
    border: 5px solid #000000;
    border-radius: 25px;
    padding: 0em 0em 0em 0em;
    display: inline;
    box-shadow: 25px 5px 50px 5px #000000;
}

h1 {
    background: linear-gradient(#cccccc, #ffffff);
    border: 5px solid #ffffff;
    border-radius: 10px;
    margin: -1em -1em 0em;
    text-align: center;
    text-decoration: overline;
}

h1, h2, nav {
    font-family: "Advent Pro", sans-serif;
}

li > a {
    text-decoration: none;
    font-size: 1.2em;
}

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
}

#navigation:hover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 1.0;
}

#navigation:focus {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 1.0;
}

#navigation li a{
    list-style-type: none;
    color: #ffffff;
    padding: 0 10px;
}

#navigation li a:hover{
    list-style-type: none;
    color: #cccccc;
    padding: 0 10px;
}

#navigation li a:focus{
    list-style-type: none;
    color: #cccccc;
    padding: 0 10px;
}

#navigation ul li {
    float: left;
    width: auto;
    padding: 20px;
}

nav > ul{
    list-style-type: none;
    text-indent: -2em;
    display: block;
}

nav [href] {
    color: #000000;
    text-overflow: hidden;
    display: block;
}

#fig-1 img {
    border: 5px solid #ffffff;
    border-radius: 50px;
    padding: 0em 0em 0em 0em;
    display: inline;
    width: 200px;
    height: auto;
}

#fig-1 {
    float: right;
    background-color: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 5px;
    width: 250px;
    box-sizing: border-box;
}

#index-awards {
    padding: 25px 0 0 0;
}

table {
    background-color: #ffffff;
    border: 5px solid #ffffff;
    box-shadow: 5px 5px 5px 5px #cccccc;
    box-sizing: border-box;
    display: table;
}

table thead tr {
    font-weight: bolder;
    font-size: 1.1em;
}

table tbody tr:hover {
    background-color: #dfdfdf;
}

footer {
    padding: 5em 0em 0em 0em;
    text-align: center;
    font-weight: bold;
    font-size: 0.85em;
}

#footer-quick {
    font-family: "Advent Pro", sans-serif;
    text-align: center;
}

#footer-quick a {
    text-decoration: none;
    color: #000000;
}
#footer-quick a:hover {
    text-decoration: none;
    color: #000000;
    font-size: 1.1em;
}

#footer-quick a:focus {
    text-decoration: none;
    color: #000000;
    font-size: 1.1em;
}

blockquote {
    font-family: "Times New Roman";
    font-size: 0.8em;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 5px #cccccc;
    text-align: center;
    line-height: 1.5em;
}

blockquote:hover {
    font-size: 1.1em;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 5px #cccccc;
    text-align: center;
    text-overflow: hidden;
    line-height: 1.5em;
    padding: 10px;
}

blockquote:focus {
    font-size: 1em;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 5px #cccccc;
    text-align: center;
    text-overflow: hidden;
    line-height: 1.5em;
    padding: 10px;
}

#civil-mountaintop li, #civil-dream li {
    font-family: "Advent Pro", sans-serif;
    text-align: center;
    list-style-type: none;
    font-size: 1.1em;
}

#civil-dream > iframe {
    display: block;
    margin: 0 auto;
}

#fig-2 {
    float: right;
    width: 300px;
    box-sizing: border-box;
}

